* {
  font-family: "Poppins", sans-serif;
}
.register-wrapper {
  height: 150vh;
}
.row .col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col.bg {
  background-image: url(.../../../../../assets/LoginAndRegister/image15.svg);
  background-color: #efc81a;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  /* width: 960px; */
  height: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col .container {
  width: 450px;
}

.login-title {
  color: #efc81a;
  font-size: 30px;
}
.login-text {
  color: #8692a6;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 13px;
}

.col .container form label {
  margin-top: 24px;
  font-size: 16px;
}
.col .container .form-control {
  width: 426px;
  height: 64px;
}
.col .container .form-control:focus {
  border: 3px solid #efc81a;
}
#flexCheckDefault {
  margin-top: 28px;
}
.btn {
  width: 426px;
  height: 64px;
  flex-shrink: 0;
  margin-top: 39px;
}
.container-fluid {
  display: flex;
  justify-content: end;
  width: 450px;
}
.nav {
  margin-top: 16px;
  margin-right: 0px;
}
.nav li a {
  color: #999;
}
.nav li a:hover {
  color: #efc81a;
}
.container .sign-up {
  text-align: center;
  margin-top: 24px;
}
.sign-up-link {
  text-decoration: none;
  color: #efc81a;
}
@media screen and (max-width: 600px) {
  .col.bg {
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #ffffff;
    background-blend-mode: color;
    background-size: cover;
    /* width: 100%; */
    height: auto;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: none;
  }
  .col.bg .card {
    background: #efc81a;
    padding: 20px 20px;
    border-radius: 10%;
    /* width: 50%; */
    height: auto;
    text-align: center;
  }
  .col.bg img {
    filter: brightness(1);
  }
  .col.bg h1 {
    filter: brightness(1);
  }
  .login-text {
    color: #8692a6;
    font-size: 18px;
    margin-top: 0px;
    /* margin-bottom: px; */
  }
  .col .container .form-control {
    /* width: auto; */
    height: 50px;
  }
  .col .container form label {
    margin-top: 20px;
    font-size: 16px;
  }
}
